* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ff64a5;
  color: #1f0426;
  background-image: url();
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

/* Header ///////////////////////// */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.links {
  display: flex;
  gap: 2rem;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* Header ///////////////////////// */

.content {
  margin: 0 5rem;
}

.sec1 {
  display: flex;
  background-color: #e65b95;
  height: 500px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-button {
  padding: 10px 50px;
  margin: 10px 0;
  background-color: #df4c89;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.sec2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sec2 h2 {
  margin: 1rem 0;
}

.section-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.square-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
  gap: 10px;
}

.square-link {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 5px;
}

.sec3 {
  display: flex;
  height: 250px;
  width: 100%;
  background-color: #e65b95;
  justify-content: center;
  align-items: center;
}
.quote {
}
/* DUOTONE HERO ///////////////////////// */
.hero-image::before,
.hero-image::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.hero-image {
  background-image: url("./images/statue.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: cover;
}

.hero-image::after {
  mix-blend-mode: lighten;
  background-color: #001664;
}

/* DUOTONE HERO ///////////////////////// */
